tqdm==4.43.0
torchvision==0.2.2.post3
gluoncv==0.7.0
torch==1.5.0
gdown==3.11.1
psutil==5.6.3
tensorflow==2.2.0
scikit_image==0.15.0
scipy==1.4.1
Flask==1.1.2
numpy==1.18.2
Flask_Cors==3.0.8
requests==2.23.0
pywebview==3.2
Pillow==7.1.2
mxnet==1.6.0